<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="{{ refresh_interval }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weathermonitor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 1em 0 0;
            overflow: hidden;
        }
        .container {
            height: 100%;
            max-width: 100% !important;
        }
        .box-container {
            height: 100%;
            margin-top: 3em;
            margin-left: 2em;
            margin-right: 2em;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://unpkg.com/intro.js/minified/introjs.min.css" rel="stylesheet">
    <script src="https://unpkg.com/intro.js/minified/intro.min.js"></script>

</head>

<body>
<div class="container">
    <header>
        <nav class="navbar is-dark is-fixed-top">
            <div class="navbar-item">
                <button class="button is-primary" onclick="initIntro()">Start Intro</button>
            </div>
            <div class="navbar-end">
              <span class="navbar-item">
                <h2 last_updated class="subtitle" id="updated-subtitle" style="color: white">Last updated at {{status[1]}}</h2>
              </span>

              <span class="navbar-item">
                <span class="tag is-info is-medium" id="status">
                  <span class="icon is-small">
                    <i class="fas fa-circle"></i>
                  </span>
                  <span>Live</span>
                </span>
              </span>
            </div>
        </nav>
    </header>
    <div class="box-container">{% include 'station.html' %}</div>


</div>


<script>
    if (navigator.onLine && '{{status[0]}}' === 'True') {
        // Set the text and color of the status bar
        document.getElementById('status').innerHTML = 'Live';
        document.getElementById('status').classList.remove('is-danger');
        document.getElementById('status').classList.add('is-info');
    } else {
        document.getElementById('status').innerHTML = 'Offline';
        document.getElementById('status').classList.remove('is-info');
        document.getElementById('status').classList.add('is-danger');
    }
</script>


<script>
    function initIntro() {
        var intro = introJs();
        intro.setOptions({
            steps: [
                {
                    intro: "Welcome to Weather.AI! This is a quick tour of the site to make sure that you understand everything."
                },
                {
                    element: '#dashboard',
                    intro: "This is the dashboard. It shows you the current weather conditions at your station."
                },
                {
                    element: '#left-card',
                    intro: "Here you can see the main plots of the current station. Swiping left and right will change plot."
                },
                {
                    element: '#top-card',
                    intro: "Top card stuff"
                },
                {
                    element: '#bottom-card',
                    intro: "Bottom card stuff"
                },
                {
                    element: '#updated-subtitle',
                    intro: "This is the last time the station was updated.",
                    position: 'right'
                },
                {
                    element: '#status',
                    intro: "This is the status bar. It will tell you if the station is online or offline.",
                },
                {
                    element: '#station-title',
                    intro: "To switch the station, simply click on the title."
                }
            ],
            showStepNumbers:false
        });
        intro.onbeforechange(async function (element) {
            if (this._currentStep === 8) {
                setTimeout(function () {
                    $("#station-title").click();
                });
                await new Promise(resolve => setTimeout(resolve, 100));
            }
        });

        intro.start();

    }
</script>
</body>