<div class="plot-container slider" id="btn-modal">

{% for plot_type in plot_list %}
  <div class="option plot" id="btn-modal">
    <object data={{ url_for('static', filename='plots/{station}/{plot_type}.png'.format(station=station, plot_type=plot_type)) }} width="100%"></object>
  </div>
{% endfor %}
</div>

<div id="modal-plots" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
        {% for plot_type in plot_list %}
          <div class="option plot">
            <object data={{ url_for('static', filename='plots/{station}/{plot_type}.svg'.format(station=station, plot_type=plot_type)) }} width="100%"></object>
          </div>
        {% endfor %}

    </div>
</div>


<style>

    .plot-container {
        max-height: 100vh;
        max-width: 100vw;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }

    .plot {
        min-width: 100%;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        scroll-snap-align: start;
    }



    /* Arrows */
    .right-arrow,
    .left-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 64px;
        height: 64px;
        /*   background-color: black; */
        z-index: 2;
        cursor: pointer;
    }

    .right-arrow {
        right: 1rem;
    }
    .left-arrow {
        left: 1rem;
    }

    .right-arrow::before,
    .right-arrow::after,
    .left-arrow::before,
    .left-arrow::after {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        content: "";
        position: absolute;
        width: 64px;
        height: 16px;
        background-color: white;
    }

    .right-arrow::before {
        transform: rotate(45deg);
    }

    .right-arrow::after {
        transform: rotate(-45deg);
        bottom: 14px;
    }

    .left-arrow::before {
        transform: rotate(-45deg);
    }

    .left-arrow::after {
        transform: rotate(45deg);
        bottom: 14px;
    }

    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


    /* Hide the scrollbar */
    .plot-container::-webkit-scrollbar {
        display: none; /* Safari, Google Chrome, Opera,  */
    }

    /* Adaptive */
    @media screen and (max-width: 720px) {
        .right-arrow::before,
        .right-arrow::after,
        .left-arrow::before,
        .left-arrow::after {
            width: 32px;
            height: 12px;
        }
        .right-arrow::after,
        .left-arrow::after {
            bottom: 16px;
        }
        .right-arrow::before,
        .left-arrow::before {
            top: 20px;
        }
        .right-arrow::before,
        .right-arrow::after {
            right: 0;
        }
    }
</style>

<script>
var modal = document.getElementById("modal-plots");

// Get the button that opens the modal
var btn = document.getElementById("btn-modal");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal) {
  modal.style.display = "none";
}
}


</script>

<script>
    "use strict";
    const slider = document.querySelector(".slider");

    /**
     * @brief Scroll to the right
     */
    function scrollRight() {
        if (slider.scrollWidth - slider.clientWidth === slider.scrollLeft) {
            slider.scrollTo({
                left: 0,
                behavior: "smooth"
            });
        } else {
            slider.scrollBy({
                left: window.innerWidth,
                behavior: "smooth"
            });
        }
    }

    /**
     * @brief Scroll to the left
     */
    function scrollLeft() {
        slider.scrollBy({
            left: -window.innerWidth,
            behavior: "smooth"
        });
    }

    // Auto slider
    let timerId = setInterval(scrollRight, 15000);

    /**
     * @brief Reset timer for scrolling right
     */
    function resetTimer() {
        clearInterval(timerId);
        timerId = setInterval(scrollRight, 15000);
    }

</script>
