<div class="plot-container slider">
    {% for plot_type in plot_list %}
        <div class="option plot">
            <a href="{{ station }}/plots/{{ plot_type }}">
                <object data={{ url_for('static', filename='plots/{station}/{plot_type}.svg'.format(station=station, plot_type=plot_type)) }} width="100%" style="pointer-events: none;"></object>
            </a>
        </div>
    {% endfor %}
</div>


<style>
    .plot-container {
        max-height: 100vh;
        max-width: 100vw;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
    }

    .plot {
        min-width: 100%;
        font-size: 4rem;
        display: flex;
        justify-content: center;
        scroll-snap-align: start;
    }

    /* Hide the scrollbar */
    .plot-container::-webkit-scrollbar {
        display: none;
    }

</style>

<script>
    "use strict";
    const slider = document.querySelector(".slider");

    const slide_interval = 30000;

    /**
     * @brief Scroll to the right
     */
    function scrollRight() {
        if (slider.scrollWidth - slider.clientWidth === slider.scrollLeft) {
            slider.scrollTo({
                left: 0,
                behavior: "smooth"
            });
        } else {
            slider.scrollBy({
                left: window.innerWidth,
                behavior: "smooth"
            });
        }
    }

    /**
     * @brief Scroll to the left
     */
    function scrollLeft() {
        slider.scrollBy({
            left: -window.innerWidth,
            behavior: "smooth"
        });
    }

    // Auto slider
    let timerId = setInterval(scrollRight, slide_interval);

    /**
     * @brief Reset timer for scrolling right
     */
    function resetTimer() {
        clearInterval(timerId);
        timerId = setInterval(scrollRight, slide_interval);
    }

</script>
